body,tbody {
	font-family: "Roboto", "HelveticaNeue-Light", sans-serif;
}

h1 {
	text-align: center;
	font-size:30px;
}


.math {
	font-family: "Cambria Math";
	font-size: 14.5px;
	color: grey;
}

pre {
	font-family: "Cambria Math";
}

.amr-edge {
	color: grey;
}

.instructions {
	
}

.description {
	font-size: 13px;
}


table {
	font-size: 11pt !important;
}


button {
	border: 1px solid white;
	color: white;
	padding: 5px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	background-color: #66ccff;
}

button.green {

	background-color: lightgreen;

}
 tr.green td {
	 background-color: #b7ff47 !important;
 }

a {
	text-decoration: none;
	color: #15c;
}

a:hover {
	text-decoration: underline;
}

.container {
	text-align: center;
	max-width: 25em;
}

.container pre {
	display: inline-block;
	text-align: left;
	font-size: 17px;
}

.row {
	display: flex;
	align-items: center;
}

.column { flex: 30%; }
.column:first-child {
	flex: 70%;
}
.column > .container {
	border: solid 1px #eee;
}
.column > .container > .caption {
	font-size: 90%;
	max-width: 25em;
	margin-left: auto;
	margin-right: auto;
}
