h1 {
	font-family: "HelveticaNeue-Light", sans-serif;
	font-size:30px;
}


math {
	font-family: "Cambria Math";
	font-size: 14.5px;
	color: grey;
}

.instructions{
	font-family: "HelveticaNeue-Light", sans-serif;
}

.description{
	font-family: "HelveticaNeue-Light", sans-serif;
	font-size: 13px;
}


table {
	font-family: "HelveticaNeue-Light", sans-serif !important;
	font-size: 11pt !important;
}


button {
	border: 1px solid white;
	color: white;
	padding: 5px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	background-color: #66ccff;
}

button.green {

	background-color: lightgreen;

}
 tr.green td {
	 background-color: #b7ff47 !important;
 }

a {
	text-decoration: none;
	color: rgb(31, 114, 230);
	font-family: "HelveticaNeue-Light", sans-serif;
	font-size: 14px;
}

a:hover {
	text-decoration: underline;
}

